body {
  padding: 0;
  margin: 0;
  color: #fbf5de;
  background: #613830;
  overflow: hidden;
}

.navbar {
  display: flex;
  top: 0; 
  padding: 20px;
  width: 100%;
  background: #fff;
}

.navbar .logo {
  flex: 1;
  font-weight: 400;
  font-family: cursive;
  text-decoration: none;
}

.navbar .text {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  padding-right: 5%;
}

.user_details {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 20px 10%;
  background: #444;
}

.about_user {
  display: flex;
  flex-direction: column;
  flex: 0.7;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.switch_tab {
  display: flex;
}

.switch_tab .tab {
  padding: 5px 30px;
}

.container {
  display: flex;
  padding: 5px;
  margin: 5px;
}

.card {
  width: 30%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}