body {
  font-family: Georgia, Times, 'Times New Roman', serif;
  background: #613830;
  color: #fbf5de;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main .logo .logo_text {
  font-weight: 800;
  font-family: cursive;
  font-size: 45px;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register .content {
  padding-bottom: 15px;
}

.register .text_input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  text-align: center;
  color: #fbf5de;
  background: none;
}

.register .button {
  width: 100%;
  padding: 8px;
  margin: 10px;
  border-radius: 6px;
  color: #fbf5de;
  background: none;
}

.register .button:hover {
  background: #613;
}

.links {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  text-align: center;
}

.links a:hover {
  color: #fbf5de;
}

.footer {
  margin-top: 25px;
  text-align: center;
}

.footer a:hover {
  color: #fbf5de;
}