body {
  padding: 0;
  margin: 0;
  font-family: Georgia, Times, 'Times New Roman', serif;
  background: #ffffff;
  color: #000;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  top: 0;
  margin: 25px 0;
}
.navbar .navbar_text {
  position: absolute;
  text-decoration: none;
  color: #000;
  right: 75px;
}
.navbar .logout {
  position: absolute;
  text-decoration: none;
  color: #000;
  right: 15px;
}
.navbar .navbar_text:hover {
  color: #f28500;
}
.navbar .logo {
  padding-left: 20px;
}

.second_nav {
  padding: 20px 0;
  width: 100%;
  background: gray;
  text-align: center;
}
.second_nav .record {
  text-decoration: none;
  color: #fff;
  margin: 45px;
}
.second_nav .record:hover {
  color: #f28500;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.card {
  padding: 20px;
  margin-left: 2%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
img {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px;
  width: 150px;
}
.button {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.disabled-button {
  padding: 10px;
  border: none;
  border-radius: none;
}
.button:hover {
  border: 2px solid #f28500;
}

.footer {
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
  background: #000;
}
.footer a:hover {
  color: #f28500;
}
.footer-links {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .side_nav {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    display: flex;
  }
  .main {
    flex: 3;
  }
  .side_nav {
    flex: 1;
  }
  .side_nav img {
    position: relative;
    margin: 30px 0 10px 30px;
  }
  .side_body .user_text {
    position: relative;
    padding-left: 15px; 
  }
}